<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>


  <body class="has-navbar-fixed-top">
  	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://denverdualsport.com">
      <img src="{{ url_for('static', filename='png/moto.png') }}" width="50" height="50">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        About me
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Contact me</strong>
          </a>
          <a class="button is-light">
            Don't contact me
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
   <section class="hero is-info is-bold">
     <div class="hero-body">
       <div class="container">
         <h1 class="title">
           Ryan Hamilton
         </h1>
         <h2 class="subtitle">
           Site Reliability Engineer
         </h2>
       </div>
     </div>
   </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>

  <div class="columns is-centered">
    <div class="column has-background-danger">
      First column
    </div>
    <div class="column is-two-fifths has-background-primary has-text-centered">
    	<p class="bd-notification is-primary">
    		<figure class="image is-32x32 is-inline-flex">
    			<img src="{{ url_for('static', filename='png/git32.png') }}" alt="Github logo">
    		</figure>
    		<code class="html is-size-4">github.com/ryhamz</code>
    	</p>
    </div>
    <div class="column has-background-danger">
      Third column
    </div>
  </div>

  <section class="section">
    <div class="container">
    	<a class="button is-primary is-medium">
    		Yeah this is button
    	</a>
    </div>
  </section>

  </body>
</html>